<div class="jumbotron"> 
    <h1><%=@article.title%></h1>
    <div class="article-html">
      <%=@article.body.html_safe%>
    </div>
    <% if !@article.user.nil? %>
        <p><%=@article.user.email%></p>
    <%end%>

    <%= link_to  "Editar", edit_article_path(@article), class:"btn btn-warning" %>
    <%= link_to  "Atras", root_path, class:"btn btn-info" %>
</div>