<style type="text/css" media="screen">
    <%= ".#{category.name.delete(' ')}" %>{
      background: <%= category.color %> !important;
    }
  </style>
 
 <div class="col-md-3 ">
    <div class="card">
        <div class="card-body <%="#{category.name.delete(' ')}"%> ">
            <h2 class="card-title"><%= category.name %></h2>
            <p>
                <%= "Contiene #{category.articles.count} articulo(s)" %>
            </p>
            <div class"card-text">
                <%="Creado en #{category.created_at.strftime("%b, %d, %Y, %H:%M") }"%>
            </div>
        </div>
    </div>
 </div>