<style type="text/css" media="screen">
    <%= ".#{category.name.delete(' ')}" %>{
      background: <%= category.color %> !important;
    }
  </style>
 
 <div class="col-md-3 ">
    <div class="card">
        <div class="categories-container">
            <%= link_to category do %>
                <div class="card-body <%="#{category.name.delete(' ')}"%> ">
                    <h2 class="card-title text-center"><%= category.name %></h2>
                        <%= image_tag category.coverCat(:thumb),class:"card-img-top" %>
                    <p>
                        <%= "Contiene #{category.articles.count} articulo(s)" %>
                    </p>
                    <div class"card-text">
                        <%="Creado en #{category.created_at.strftime("%b, %d, %Y, %H:%M") }"%>
                    </div>
                </div>
            <%end%>
        </div>
    </div>
 </div>