<style type="text/css" media="screen">
    <%= ".#{category.name}" %>{
      background: <%= category.color %> !important;
    }
  </style>
 
 <div class="col-md-3">
    <div class="jumbotron <%="#{category.name}"%> ">
        <h2><%= category.name %></h2>
        <p>
            <%= "Contiene #{category.articles.count} articulo(s)" %>
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, earum quos ut modi ullam rerum maxime nesciunt autem qui molestiae voluptas quibusdam eum illo, architecto veritatis aliquid. Maxime, aperiam officia?</p>
    </div>
 </div>