<div class="jumbotron">
    <h1>Administrador</h1>
    <p><%= link_to  "Normal", categories_path(normal:true),class:"btn btn-success" %></p>
    <table class="table table-bordered">
        <thead class="thead-dark"> 
            <tr>
                <th class="text-center">Titulo</th>
                <th class="text-center">Ver Editar Eliminar</th>                  
            </tr>
        </thead>
        <tbody class="tabla-tbody">
            <%@categories.each do |cat| %>
            <tr class="tabla-tr text-center">
                <td><%="#{cat.name} #{cat.created_at.strftime("%b, %d, %Y, %H:%M") }"%></td>
                <td>
                    <%=link_to "ver", cat,class:"btn btn-info"%>
                    <%=link_to "Editar", edit_category_path(cat),class:"btn btn-warning"%>
                    <%=link_to "Eliminar", cat, method: :delete, data:{confirm:"Desea eliminar?"},class:"btn btn-danger"%>
                </td>    
            </tr>
            <%end%>
        </tbody>
    </table>
</div>