<!DOCTYPE html>
<html>
  <head>
    <title>CursoUdemy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "partials/navbar" %>
    <%= render "partials/notificaciones.html"%>
    <div class="container-fluid"> 
      <div class="row">
          <div class="col-sm-12 col-md-2">
            <%= render "partials/panel" %>
          </div>
          <div class="col-sm-12 col-md-10">
          <%= yield %>
          </div>
      </div>  
    </div>
  </body>
</html>
